<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" > 

<ul>
  <li ng-repeat="x in myData">
    {{ x }}
  </li>
</ul>

</div>
<form >
	
		
			<div class="form-group" >
			<label for="password" >Enter new password</label >
			<input type="password"
			       class="form-control"
			       ng-model="formModel.password"
			       id="password">
		</div >

		
		<div class="form-group">
			<button class="btn btn-primary" ng-click="profil()">Profil 
			</button>
		</div>

	</form >



</body>
</html>
